@import "../../vars.css";

.navbar {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%; /* Ensure it spans the full width */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%; /* Adjust padding for spacing */
  z-index: 2;
  backdrop-filter: blur(10px);
  background-color: grey; /* Optional: Ensure visibility if overlapping */
  background: linear-gradient(to right, #091d4f 0%, rgba(255,255,255,0.8) 300%); /* Adjust colors */
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}


.menuBtn {
  display: none;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
  transition: 0.5s;
}

.menuItems a:hover{
  background-color:var(--color-dark);
  background: linear-gradient(
    120deg,
    var(--color-primary) 0%,
    #fff 200%
  );
  border-radius: 40px;
  padding:13px 20px
  
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgb(25, 55, 109);
    background: linear-gradient(
      0deg,
      rgba(25, 55, 109, 0.2) 0%,
      rgba(25, 55, 109, 1) 100%
    );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}